{% extends 'layouts/default' %}
{% block header %}

  {# exemple of an header with parallax effect #}
  {# see /src/components/header/ #}
  {% include 'components/header' with {
    image: 'https://picsum.photos/1920/550',
    title: 'ARTICLES',
    small: true
  } %}

{% endblock %}
{% block main %}

  <div class="articles section">
    <div class="container">
      <div class="row">
        <div class="col-3@lg">

          <div class="articles_filters">

            <h2>Filters</h2>

            <div class="form-line">
              <label for="filter-search">Search</label>
              <input type="text" id="filter-search" />
            </div>

            {% for i in 1..3 %}
            <div class="form-line">
              <label for="filter-{{ i }}">Filter {{ i }}</label>
              <select is="dropdown" id="filter-{{ i }}">
                {% for j in 1..8 %}
                <option value="{{ j }}">Option {{ i }}-{{ j }}</option>
                {% endfor %}
              </select>
            </div>
            {% endfor %}

          </div>

        </div>
        <div class="col-9@lg">

          <div class="row">
          {% for i in 1..20 %}
            <div class="col-4@lg" data-viewport.once="fade-up">
              {% include '::card' with {
                image: 'https://picsum.photos/1080/900?random=' ~ i,
                title: fake('lorem.words', 2),
                text: fake('lorem.words', 12),
                url: 'article.html'
              } %}
            </div>
          {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}