<div class="text {% if image %}-image{% else %}-only{% endif %} {% if reverse %}-reverse{% endif %}">
  <div class="{% if image %}row{% endif %}">

    <div class="{% if image %}col-6@lg{% endif %} {% if reverse %}order-2{% endif %}">
      <h2>{{ title }}</h2>
      <p>
        {% block text %}
        {{ text }}
        {% endblock %}
      </p>
      {% if cta %}<a class="btn -stroke -white" href="{{ cta.url }}">{{ cta.text }}</a>{% endif %}
    </div>

    {% if image %}
    <div class="col-6@lg {% if reverse %}order-1{% endif %}">
      <img src="{{ image }}" alt="">
    </div>
    {% endif %}

  </div>
</div>