<div class="topmenu" is="topmenu">
  <div class="container">

    <div class="topmenu_logo">
      <a href="/">
        <img src="http://placehold.it/200x60?text=LOGO+HERE" alt="{{ site.title }}">
      </a>
    </div>

    <nav class="topmenu_nav">
      {% for name, url in menu %}
      <a href="{{ url }}">{{ name }}</a>
      {% endfor %}
    </nav>

    <div class="topmenu_search">
      <i class="icon">{{ svg('search') }}</i>
      <form action="articles.html">
        <input type="text" name="search" autocomplete="off" required>
      </form>
    </div>

    <div class="topmenu_account">
      <button class="btn-clear" data-modal="#login">
        <i class="icon">{{ svg('user') }}</i>
      </button>
    </div>

    <div class="topmenu_langs">
      <select is="dropdown" ref="lang">
        <option value="EN" selected>EN</option>
        <option value="FR">FR</option>
      </select>
    </div>

  </div>
</div>